body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
}

canvas {
  position: absolute;
  cursor: grab;
  background-color: #a9e9d5;
}

.tabBtn {
  margin: 2px 6px;
  padding: 4px 10px;
  background: #f0f0f0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
}

.tabBtn:hover {
  background: #d0d0d0;
}